.margin-reset {
  margin: 0px !important;
}

#perfil {
  background: #ffffff;
}

input[type='file'] {
  color: transparent;
}

.padding-form {
  padding: 10px;
}
label {
  font-weight: 700 !important;
}
