<div *ngIf="loadContent" class="row margin-reset">
  <div class="container" id="perfil">
    <div class="d-flex p-2">
      <div class="container bootstrap snippet">
        <div class="row">
          <div class="col-sm-10">
            <h1>{{ perfil.nome }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <!--left col-->
            <div class="text-center">
              <img
                src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                class="avatar img-circle img-thumbnail"
                alt="avatar"
              />
              <h6>Inserir uma imagem diferente</h6>
              <input
                type="file"
                accept="image/*"
                (change)="changeListener($event)"
                class="text-center center-block file-upload"
              />
            </div>
            <br />
          </div>
          <!--/col-3-->
          <div class="col-sm-9 padding-reset">
            <div class="tab-content">
              <div class="tab-pane active" id="home">
                <hr />
                <form
                  class="form"
                  action="##"
                  method="post"
                  id="registrationForm"
                >
                  <div class="form-group row margin-reset">
                    <div class="col-xs-4 padding-form">
                      <label for="first_name">Nome</label>
                      <input
                        [value]="perfil.nome"
                        type="text"
                        class="form-control"
                        name="first_name"
                        id="first_name"
                        placeholder="first name"
                        title="enter your first name if any."
                      />
                    </div>
                    <div class="col-xs-4 padding-form">
                      <label for="first_name">Sobrenome</label>
                      <input
                        [value]="perfil.sobrenome"
                        type="text"
                        class="form-control"
                        name="first_name"
                        id="first_name"
                        placeholder="first name"
                        title="enter your first name if any."
                      />
                    </div>
                    <div class="col-xs-4 padding-form">
                      <label for="first_name">Sexo</label>
                      <select class="form-control">
                        <option>
                          Selecione
                        </option>
                        <option>
                          Masculino
                        </option>
                        <option>
                          Feminino
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row margin-reset">
                    <div class="col-xs-4 padding-form">
                      <label for="first_name">Data de Nascimento</label>
                      <input
                        [value]="perfil.nome"
                        type="text"
                        class="form-control"
                        name="first_name"
                        id="first_name"
                        placeholder="first name"
                        title="enter your first name if any."
                      />
                    </div>
                    <div class="col-xs-4 padding-form">
                      <label for="first_name">Nome Pai Completo</label>
                      <input
                        [value]="perfil.sobrenome"
                        type="text"
                        class="form-control"
                        name="first_name"
                        id="first_name"
                        placeholder="first name"
                        title="enter your first name if any."
                      />
                    </div>
                    <div class="col-xs-4 padding-form">
                      <label for="first_name">Nome Mãe Completo</label>
                      <input
                        [value]="perfil.sobrenome"
                        type="text"
                        class="form-control"
                        name="first_name"
                        id="first_name"
                        placeholder="first name"
                        title="enter your first name if any."
                      />
                    </div>
                  </div>
                  <div class="form-group row margin-reset">
                    <div class="col-xs-4 padding-form">
                      <label for="first_name">Celular</label>
                      <input
                        [value]="perfil.nome"
                        type="text"
                        class="form-control"
                        name="first_name"
                        id="first_name"
                        placeholder="first name"
                        title="enter your first name if any."
                      />
                    </div>
                    <div class="col-xs-4 padding-form">
                      <label for="first_name">Telefone</label>
                      <input
                        [value]="perfil.nome"
                        type="text"
                        class="form-control"
                        name="first_name"
                        id="first_name"
                        placeholder="first name"
                        title="enter your first name if any."
                      />
                    </div>
                  </div>
                  <div class="form-group row margin-reset">
                    <div class="col-xs-4 padding-form">
                      <label for="first_name">RG</label>
                      <input
                        [value]="perfil.nome"
                        type="text"
                        class="form-control"
                        name="first_name"
                        id="first_name"
                        placeholder="first name"
                        title="enter your first name if any."
                      />
                    </div>
                    <div class="col-xs-4 padding-form">
                      <label for="first_name">CPF</label>
                      <input
                        [value]="perfil.nome"
                        type="text"
                        class="form-control"
                        name="first_name"
                        id="first_name"
                        placeholder="first name"
                        title="enter your first name if any."
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <br />
                      <button class="btn btn-lg btn-success">
                        <i class="glyphicon glyphicon-ok-sign"></i> Atualizar
                        cadastro
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!--/tab-pane-->
            </div>
            <!--/tab-pane-->
          </div>
          <!--/tab-content-->
        </div>
        <!--/col-9-->
      </div>
      <!--/row-->
    </div>
  </div>
</div>
