<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img
        class="img-res"
        style="width: 25%;"
        src="../../../assets/img/logo-ritch.png"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['login']" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['cadastro']" href="#">Cadastro</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1
        style=" text-shadow: 2px 2px 4px #000000;"
        class="masthead-heading mb-0"
      >
        AS MELHORES AGÊNCIAS DO BRASIL
      </h1>
      <h2
        style=" text-shadow: 2px 2px 4px #000000;"
        class="masthead-subheading mb-0"
      >
        O MELHOR CASTING DO MERCADO
      </h2>
      <h3 class="mt-5">Nossas Redes sociais:</h3>
      <a
        style="margin-right: 10px;"
        href="https://www.facebook.com/ritchellyelencoefiguracao/"
        class="btn btn-primary btn-xl rounded-pill mt-5"
        ><i class="fab fa-facebook-square"></i
      ></a>
      <a
        style="margin-right: 10px;"
        href="https://www.instagram.com/ritchellyprodutor"
        class="btn btn-primary btn-xl rounded-pill mt-5"
        ><i class="fab fa-instagram"></i>
      </a>
      <a
        style="margin-right: 10px;"
        href="https://www.instagram.com/revistaritchellyoficial"
        class="btn btn-primary btn-xl rounded-pill mt-5"
        ><i class="fab fa-instagram"></i>
      </a>
      <a
        style="margin-right: 10px;"
        href=" https://www.youtube.com/channel/UCYV_ZJq8X9MjcTeUlUOmKMA"
        class="btn btn-primary btn-xl rounded-pill mt-5"
      >
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
  <!-- <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div> -->
</header>

<section class="bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="../../../assets/img/modelo1.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Quem somos</h2>
          <p class="text-justify">
            Somos uma equipe de produtores engajados em fornecer a mais alta
            qualidade em serviços de casting para suprir e satisfazer nossos
            clientes em todas suas necessidades. Garra, entusiasmo, paixão e
            profissionalismo são uma constante no nosso dia a dia.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="../../../assets/img/modelo2.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Serviços</h2>
          <small
            >A Ritchelly Casting possui o maior e o mais completo casting
            brasileiro, atendendo diretamente os mais exigentes e diversificados
            clientes nas áreas de publicidade, entretenimento, “fashion
            business”, no Brasil e pelo mundo a fora.</small
          >
          <h3 class="mt-2">Em nosso casting:</h3>
          <ul style="list-style: none;">
            <li>- modelos</li>
            <li>- manequins</li>
            <li>- artistas</li>
            <li>- atores</li>
            <li>- promotores para eventos</li>
            <li>- comerciais de TV</li>
            <li>- filmes</li>
            <li>- entretenimentos em geral</li>
            <li>- shows</li>
            <li>- plenárias</li>
            <li>- locuções</li>
            <li>- desfiles</li>
            <li>- ensaios fotográficos</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="img/03.jpg" alt="" />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Let there be rock!</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
            aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam
            exercitationem, ea animi blanditiis recusandae! Ratione voluptatum
            molestiae adipisci, beatae obcaecati.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Footer -->
<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">
      Copyright &copy; Ritchelly Casting 2019
    </p>
  </div>
  <!-- /.container -->
</footer>
